.sansita {
    font-family: 'Sansita Swashed', cursive;
}
p {
    font-family: 'Open Sans', sans-serif;
}
.orange {
    background-color: #d17a56;
    color: #f4ede6;
}

.description {
    background-color: #f4ede6;
    color: #d17a56
}

footer {
    text-align: center
}