body {
    margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #d17a56;
}

.topnav a {
  font-family: 'Oswald', sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #d17a56;
}

.topnav a.active {
  background-color: #e5ac94;
  color: #ecd9ce;
}

.streams {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-size: 30px;
}
.sansita {
    font-family: 'Sansita Swashed', cursive;
}
p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.orange {
    padding: 120px;
    background-image: url("img/wallpaperlogo.jpg");
    background-size: cover;
    color: #d17a56;
}

.box {
    position: relative;
    margin-left: 280px;
    max-width: 600px;
    padding: 50px;
    background: rgba(255,255,255,.7);
    box-shadow: 0px 5px 15px rgba(0,0,0,.5);
    text-align: center;
}

h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 50px;
    text-shadow: 
}

.description {
    padding: 1px 100px;
    text-align: center;
    background-color: #d17a56;
    color: #f4ede6;
}

.des1 {
    padding-bottom: 60px;
}

.des2 {
    padding-bottom: 140px;
} 

.video{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.video iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.sponsor {
    padding: 1px 100px 50px;
    background-color: #f4ede6;
    color: #d17a56;
    text-align: center;
    font-size: 30px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.column{
    
    float: left;
    width: 24%;
    padding: 5px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

footer {
    padding: 10px;
    font-size: 11px;
    background-color: #d17a56;
    color: #f4ede6;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

a {
    color: #f4ede6;
}

